.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  max-width: 768px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);

  height: 100%;
}


.startButton {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 768px;
  height: 130px;
  background-color: rgb(190, 12, 19);
  border-radius: 18px 18px 0px 0px;
  transition: all 0.4s;
}

.startButton:hover {
  background-color: rgb(255, 37, 37);
  cursor: pointer;
}

.startButton .startButtonlabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.clock {
  font-family: 'Dosis', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: rgb(151, 75, 0);
  position: relative;
  top: calc(100% - 80%);
  /* background: red; */
}
.clock h3 {
  font-size: 5rem;
  font-weight: 700;
  min-width: 768px;
}
.clock .clockAndDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 55%;
  min-width: 420px;
  /* background: blue; */
}
.clock .clockAndDate .clockHour {
  width: 100%;
  min-width: 340px;
  text-shadow: 4px 3px 5px rgba(0, 0, 0, 0.15);
}
.clock .clockAndDate .clockDate {
  width: 100%;
  min-width: 340px;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.clock h4 {
  font-size: 3rem;
  font-weight: 800;
  margin: 10px;
  position: relative;
  bottom: 40px;
  left: 50px;
}
