.card {
  width: 95%;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  background: transparent;
  transition: all 0.5s;
}

.card:hover {
  background: #ffc743;
}

.card p {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.card i {
}
